:where([class^="ri-"])::before { content: "\f3c2"; }
.range-slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 16px;
height: 16px;
background: #0EA5E9;
border-radius: 50%;
cursor: pointer;
}
.dropdown {
display: none;
position: absolute;
top: 100%;
right: 0;
z-index: 50;
}
.dropdown.active {
display: block;
}