@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background-color: rgb(24, 24, 31);
}

*{
    padding: 0px;
    margin: 0px;
}
h1{
    color: #ffff;
}
.sec{
    height: 100vh;
}  
.sec-1{
    align-content: center;
}
.autoshow{
opacity: 0; /* Initially hidden */
transform: translateY(50px); /* Start from below */
transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Scroll Animation Trigger */
.autoshow:is(:is-in-view) {
opacity: 1;
transform: translateY(0);
}

/* To ensure animation is staggered, use nth-child */
.autoshow:nth-child(2):is(:is-in-view) {
transition-delay: 0.2s;
}

.autoshow:nth-child(3):is(:is-in-view) {
transition-delay: 0.4s;
}

.autoshow:nth-child(4):is(:is-in-view) {
transition-delay: 0.6s;
}

.autoshow:nth-child(5):is(:is-in-view) {
transition-delay: 0.8s;
}
/* @keyframes  autoShowanimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    
} */